@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
body {
  margin: 0;
  padding: 0;
}
body h1,
body h2 {
  font-family: Caveat;
}
body header .header-container {
  background-color: #3204d9;
}
body header h1 {
  color: white;
  margin-left: 50px;
}
@media screen and (min-width: 1024px) {
  body header h1 {
    margin-left: 250px;
  }
}
body header h1,
body header .hamburger {
  margin-top: 20px;
  margin-bottom: 20px;
}
body header .hamburger {
  margin-right: 50px;
  padding-top: 10px;
}
@media screen and (min-width: 1024px) {
  body header .hamburger {
    margin-right: 250px;
  }
}
body header #menu {
  font-family: Arial;
  color: white;
  margin-right: 25px;
}
@media screen and (min-width: 1024px) {
  body header #menu {
    margin-right: 250px;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  body header #menu ul {
    display: grid;
    gap: 15px;
  }
}
body header #menu ul li {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  body header #menu ul li {
    display: inline;
    grid-row: 1;
  }
}
body header #menu ul li a {
  padding: 10px 20px;
  background-color: #21d904;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  font-family: Arial;
  font-weight: bold;
}
body header #menu ul li a:hover {
  color: #21d904;
  background-color: white;
}
body .home {
  background-color: #f2f2f2;
}
body .home .home-container h2 {
  color: #3204d9;
}
body .home .home-container .home-intro ul {
  list-style: none;
}
body .card {
  border: solid 1px #3204d9;
  box-shadow: 2px 2px 0px lightblue;
}
body .card .card-header {
  background-color: #3204d9;
  font-family: Caveat;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
body .card .card-body {
  border-top: solid 1px #3204d9;
}
body .card .card-body .card-title {
  font-family: Caveat;
  color: #21d904;
  font-size: 1.5rem;
  font-weight: bold;
}
body .card .card-body .card-text {
  font-family: Arial;
  font-size: 0.8rem;
}
body .card .card-body .btn {
  background-color: white;
  color: #3204d9;
  border: solid 1px #3204d9;
}
body .card .card-body .btn:hover {
  color: white;
  background-color: #3204d9;
}
body .show-articles {
  margin: auto;
}
body .show-articles .com {
  border: 1px solid #3204d9;
  border-radius: 10px;
  background-color: lightgrey;
}
body .search {
  display: none;
}
body .search footer {
  border: 0;
  box-shadow: 0 0;
}
body .search h2 {
  background-color: #3204d9;
  color: white;
  padding: 0 1.5rem;
}
body .search .wp-block-search__inside-wrapper {
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}
body .search ul {
  padding: 0 1.5rem;
  list-style: none;
}
body .search ul li {
  padding-left: 1.5rem;
}
@media screen and (min-width: 1024px) {
  body .search {
    display: block;
  }
  body .search .card .card-body .btn {
    background-color: #3204d9;
    color: white;
  }
  body .search .card .card-body .btn:hover {
    color: #3204d9;
    background-color: white;
  }
  body .search .widget {
    list-style: none;
  }
}
body .contact .btn {
  border: 1px solid #3204d9;
  border-radius: 10px;
  color: #3204d9;
  margin-left: 70px;
}
body .logo-footer {
  margin-bottom: 40px;
}
body footer {
  color: #3204d9;
  border-top: solid 1px #3204d9;
  box-shadow: 0 -2px lightblue;
}
body #footer ul {
  text-decoration: none;
}
body #footer ul li {
  text-decoration: none;
  list-style: none;
  color: #3204d9;
  border: 1px solid;
  border-radius: 20px;
  width: auto;
}
body #footer ul li a {
  font-size: 1rem;
  text-decoration: none;
}
body #footer ul li .btn-footer {
  width: auto;
}
body #footer ul li .btn-footer:hover {
  text-decoration: none;
}
body #footer ul li a:hover {
  text-decoration: none;
  color: #21d904;
}
body footer h6 {
  font-family: "arial", serif;
  margin-bottom: 40px;
  position: relative;
}
body .logo-part {
  border-right: 1px solid #3204d9;
  height: 100%;
}
body .logo-part img {
  width: 15%;
}

/*# sourceMappingURL=main.css.map */
